@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0d47a1;
}
body {
  font-family: "Nova Flat", cursive;
  background: #3d5afe;
}
h1 {
  text-align: center;
}
.container-center {
  max-width: 600px;
  height: 300px;
  /* border: 1px solid red; */
  margin: 7rem auto;
  box-shadow: 0px 2px 2px #aaa;
  border-radius: 1rem;
  background: white;
}
.user-info {
  /* background: yellow; */
  height: 3rem;
  margin-bottom: 4rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
input[type="text"] {
  width: 80%;
  display: block;
  margin: 4rem auto;
}

.btn-birthday {
  padding: 0.8rem 1.5rem;
  background: #ffce00;
  color: black;
  border-radius: 0.5rem;
  border: none;
  margin: auto;
  display: block;
}

.output-text-container {
  /* border: 1px solid red; */
  height: 100px;
  width: 80%;

  margin: 2rem auto;
}

.output-text {
  color: black;
  background: #3d5afe;
  color: #ffffff;
}
